
<html>
 <head>
   <title>chandlyrics</title>
   <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
    <body>
       <header>
	 <h1>Chandlyrics</h1>
       
        <a href="/About" >About</a>
        <a href="/Services">Services</a>
        <a href="/Contact">Contact</a>
       </header>
<section>
       <img src="{{ url_for('static',filename='image/picc.jpg') }}" width="405">
       <img src="{{ url_for('static',filename='image/picc4.jpg') }}" width="405">
       <img src="{{ url_for('static',filename='image/picc3.jpg') }}"width="405"><br>
       <h2>Chandlyrics is all about lyrics of songs from your various artists all over the world</h2><br>
<br>
          We have the lyrics for almost all the genres of music<br>
        <h3> <span> <u>Genres of music</u></span></h3>
         <h4><span> **Hiphop<br>
          **Hiplife<br>
          **Gospel<br>
          **Reggae dancehall<br>
          **RnB<br></span></h4>
</section>
       <footer>Copyright 2019/ All rights reserved</footer>
    </body>
</html>

