
<html>
 <head>
   <title>chandlyrics The worlds premium music lyrics site</title>
   <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
    <body>
       <header>
	 <h1>Chandlyrics</h1>
       
        <a href="/About" >About</a>
        <a href="/Services">Services</a>
        <a href="/Contact">Contact</a>
       </header>
<section>
       <img src="{{ url_for('static',filename='image/picc.jpg') }}" width="405">
       <img src="{{ url_for('static',filename='image/picc4.jpg') }}" width="405">
       <img src="{{ url_for('static',filename='image/picc3.jpg') }}"width="405">
       <h2><b>Chandlyrics is all about lyrics of songs from your various artists all over the world<br>
          We have the lyrics for almost all the genres of music<br>
        <input type="text" placeholder="        Enter song title here"></b></h2> 
        <span><h3><u>Genres of music</u><br>
          **Hiphop<br>
          **Hiplife<br>
          **Gospel<br>
          **Reggae dancehall<br>
          **RnB<br><span></h3>
         <b>Chandlyrics is the world's biggest collection of song lyrics</b>
</section>
       <footer><b>Copyright 2019 &copy All rights reserved chandlyrics.com<b></footer>
    </body>
</html>

